<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <label>Buscar</label>
                        <input class="form-control">
                        <button class="bt btn-primary" (click)="get()">Buscar</button>
                    </div>                  
                </div>
            </div>
        </div> 
        <div class="col-md-6">
            <h2 style="text-align: center;">Registro de Estudiante</h2>
            <div class="box-group">
                <div class="form-group">
                    <label>Tipo de documento</label>
                    <select disabled name="tipoDocumento" class ="form-control"[(ngModel)]="persona.tipoDocumento">
                        <option value="RC">RC</option>
                        <option value="TI">TI</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Identificacion</label>
                    <input disabled name="identificacion" class ="form-control"[(ngModel)]="persona.identificacion">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input disabled name="nombre" class ="form-control" [(ngModel)]="persona.nombre">
                </div>
                
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input disabled type="date" name="fechaNacimiento" class ="form-control">
                </div>
                <div class="form-group">
                    <label>Institucion educativa</label>
                    <input disabled name="nombreInstitucion" class ="form-control" [(ngModel)]="persona.nombreInstitucion">
                </div>
                <div class="form-group">
                    <label>Nombre de acudiente</label>
                    <input disabled name="nombreAcudiente" class ="form-control" [(ngModel)]="persona.nombreAcudiente">
                </div>
                
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary form-control" (click)="add()">Registrar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger form-control">Cancelar</button>
            </div>
        </div>
 
        <div class="col-md-6">
            <h2 style="text-align: center;">Registro de Vacuna</h2>
            <div class="box-group">
                <div class="form-group">
                    <label>Tipo de documento</label>
                    <select disabled name="tipoDocumento" class ="form-control" [(ngModel)]="persona.tipoDocumento">
                        <option value="RC">RC</option>
                        <option value="TI">TI</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Identificacion</label>
                    <input disabled name="identificacion" class ="form-control">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input disabled name="nombre" class ="form-control" [(ngModel)]="persona.nombre">
                </div>
                
                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input disabled type="date" name="fechaNacimiento" class ="form-control" [(ngModel)]="persona.fechaNacimiento">
                </div>
                <div class="form-group">
                    <label>Institucion educativa</label>
                    <input disabled name="nombreInstitucion" class ="form-control" [(ngModel)]="persona.nombreInstitucion">
                </div>
                <div class="form-group">
                    <label>Nombre de acudiente</label>
                    <input disabled name=" nombreAcudiente" class ="form-control" [(ngModel)]="persona.nombreAcudiente">
                </div>
                <div class="form-group">
                    <label>Nombre de Vacuna</label>
                    <select disabled name="tipoVacuna" class ="form-control" [(ngModel)]="vacuna.tipoVacuna">
                        <option value="Haemophilus influenza tipo B,">Haemophilus influenza tipo B</option>
                        <option value="Tdpa">Tdpa</option>
                        <option value="DTPa">DTPa</option>
                        <option value="Hepatitis A">Hepatitis A</option>
                        <option value="Hepatitis B">Hepatitis B</option>
                        <option value=" virus del
                        papiloma Humano"> virus del
                            papiloma Humano</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fecha de vacuna</label>
                    <input disabled type="date" name="fechaVacuna" class="form-control" [(ngModel)]="vacunacions.fechaVacuna">
                </div>
                <div class="form-group">
                    <label>Edad de vacuna</label>
                    <input disabled name="edadPersonaAplicacion" class ="form-control" [(ngModel)]="vacunacions.edadPersonaAplicacion">
                </div>
                <div class="col-md-6 text">
                    
                    <button class="btn btn-primary form-control"(click)="add()"style=" FONT-SIZE: 14pt; FONT-FAMILY: Verdana; 
                    BACKGROUND-COLOR = ">Registrar </button>
                    
                </div>
                
                <div class="col-md-6">
                    
                    <button class="btn btn-danger form-control"style=" FONT-SIZE: 14pt; FONT-FAMILY: Verdana; 
                    BACKGROUND-COLOR = ">Cancelar</button>
                    
                </div>
 
 
                
                
            </div>
        </div>
 
        
        
        
        
    </div>
</div>
